<html>
<body>
  <div align="center">
    <div class="form-group">
        <table>
            <tr>
                <div class="form-group">
                    <label>UserName:</label>
                    <input type="text"   class="form-control" placeholder="Enter Useraname">
                  </div>
                  <div class="form-group">
                    <label>Password:</label>
                    <input type="text"   class="form-control" placeholder="Enter password">
                  </div>
                  
    
                  <button type="submit" class="btn btn-primary" (click)=createStudent()>Login</button><a routerLink="/signup" class="btn btn-info">No account !!-Sign Up </a>
                
                
                
    
        </table>
       

    </div>
    </div>
    <router-outlet></router-outlet>
    </body>
</html>