<div class="jumbotron" style="height: 0rem;"> 
    <div align="center">
      <h3 style="text-decoration: underline;">
          Registration Form
      </h3>
    </div>
  </div>
  <div align="center">
  <div class="form-group">
      <table>
          <tr>
              <div class="form-group">
                  <label>First Name:</label>
                  <input type="text"  [(ngModel)]="registration.firstName" class="form-control" placeholder="Enter FirstName">
                </div>
                <div class="form-group">
                  <label>Last Name:</label>
                  <input type="text"  [(ngModel)]="registration.lastName" class="form-control" placeholder="Enter LastName">
                </div>
                <div class="form-group">
                  <label> Age:</label>
                  <input type="text"  [(ngModel)]="registration.age" class="form-control" placeholder="Enter Age">
                </div>
                <div class="form-group">
                    <label> Sex:</label>
                    <input type="text"  [(ngModel)]="registration.sex" class="form-control" placeholder="Enter Sex">
                  </div>
                  <div class="form-group">
                    <label> Email:</label>
                    <input type="text"  [(ngModel)]="registration.email" class="form-control" placeholder="Enter Email">
                  </div>
                  <div class="form-group">
                    <label> Phone:</label>
                    <input type="text"  [(ngModel)]="registration.phone" class="form-control" placeholder="Enter Phone">
                  </div>
                  <div class="form-group">
                    <label> Username:</label>
                    <input type="text"  [(ngModel)]="registration.username" class="form-control" placeholder="Enter Username">
                  </div>
                  <div class="form-group">
                    <label> Password:</label>
                    <input type="text"  [(ngModel)]="registration.password" class="form-control" placeholder="Enter Password">
                  </div>
    <button type="submit" class="btn btn-primary" (click)=submitRegistration()>Register</button>
              
              
              
  
      </table>
  </div>
  </div>
  
  